body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1b3b2a; 
    color: #e2ddb5; 
    font-family: 'Arial', sans-serif;
}

#corpo {
    min-height: 100%;
    width: 90%;
    max-width: 1200px;
    background-color: #324a3e; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    border: 2px solid #6d4c41; 
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;   
}

nav .botao {
    border-radius: 6px;
    border: 1px solid #8b7765; 
    padding: 5px;
}

nav .botao a {
    text-decoration: none;
    color: #ffd700; 
}

nav .botao a:hover {
    background-color: #3e5c45;
    color: #b8860b;
}

h1 {
    color: #e2ddb5; 
}

h2 {
    color: #ffd700;
}

.caixa_filmes {
    min-width: 400px;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #6d4c41;
    border-radius: 8px;
    background-color: #3e5c45; 
    color: #e2ddb5;
}

.caixa_filmes img {
    max-width: 85%;
    height: auto;
    float: right;
    margin-left: 20px;
    border-radius: 6px;
    border: 2px solid #e2ddb5;
}

.caixa_filmes_esquerda {
    min-width: 400px;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #6d4c41;
    border-radius: 8px;
    background-color: #3e5c45; 
    color: #e2ddb5;
}

.caixa_filmes_esquerda img {
    max-width: 85%;
    height: auto;
    float: left; 
    margin-right: 20px; 
    border-radius: 6px;
    border: 2px solid #e2ddb5;
}

#login {
    display: flex;
    justify-content: center;
}

#formulario {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.campo {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #6d4c41;
}

#enviar {
    padding: 10px;
    background-color: #3e5c45;
    color: #ffd700;
    border-radius: 4px;
    border: 1px solid #8b7765;
    cursor: pointer;
}

#enviar:hover {
    background-color: #8b7765;
    color: #e2ddb5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #e2ddb5;
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #6d4c41;
    color: #ffd700;
}

tbody tr:nth-child(odd) {
    background-color: #3e5c45;
}

#rodape {
    text-align: center;
    padding: 10px;
    background-color: #6d4c41;
    color: #e2ddb5;
    border-radius: 4px;
    margin-top: 20px;
}

h3{
    text-align: center;
}
h1{
    text-align: center;
}
