body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1b3b2a; 
    color: #e2ddb5; 
    font-family: 'Arial', sans-serif;
}

/* COPOR DA PAGINA E FILMES */
#corpo {
    width: 90%;
    max-width: 1200px;
    background-color: #324a3e; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    border: 2px solid #6d4c41; 
}

#cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

#cabecalho #links {
    display: flex;
    justify-content:space-around;
    aling-items:center;
    gap:10px;   
}

#cabecalho #links .botao{
     border-radius: 6px;
    border: 1px solid #8b7765; 
    padding:5px;
    
}

#cabecalho #links .botao a{
    text-decoration: none;
    color: #ffd700; 
}
#cabecalho #links .botao a:houver{
    backgroud-color:  #3e5c45;
    color: #b8860b;
    
}

#cabecalho h1 {
    color: #e2ddb5; 
}

.caixa_filmes {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #6d4c41;
    border-radius: 8px;
    background-color: #3e5c45; 
    color: #e2ddb5;
    overflow: hidden
   
}

.caixa_filmes img {
    max-width: 90%;
    height: auto;
    float: right;
    margin-left: 20px;
    border-radius: 6px;
    border: 3px solid #8b7765; 
  
}

.caixa_filmes h1 {
    color: #ffd700; 
}

.caixa_filmes p {
    margin: 0;
    padding-right: 30px;
    color: #e2ddb5; 
}



/* parte de prmios*/

#premios {
    margin-top: 30px;
    text-align: center;
}

#premios table {
    width: 100%;
    border-collapse: collapse; 
    background-color: #2f3e34;
    color: #e2ddb5;
}

#premios th, #premios td {
    border: 1px solid #6d4c41; 
    padding: 8px;
}

#premios th {
    background-color: #4c5c4a;
}



/*PARTE DO RODA PE*/
#rodape {
    text-align: center;
    background-color: #324a3e;
    padding: 20px;
    border-top: 2px solid #6d4c41; 
    color: #e2ddb5;
    font-size: 14px;
    margin-top: 30px;
    border-radius: 0 0 8px 8px;
}



/* PAGINA DE LOGIN*/
#login{
    background-color: #FFFFFF;
    border-radius: 6px;
    border:2px solid;
    width: 500px;
    height: 500px;
    
}

#formulario{
    display:flex;
    flex-direction: column;    
    
}
#formulario .campo{
    border-radius: 6px;
    border: 2px solid;
    width: 100px;
    height: auto;    
    
}

input::placeholder{
    color: #e2ddb5;
    font-size: 19px;
}





